/* Centramos el div padre container */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}

/* Posicionamos el header arriba a la derecha */

.header {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
    text-align: right;
    font-size: 13px;
    font-family: arial, sans-serif;
    color: black;
    padding: 10px;
    /* background-color: red; */
    top: 1vmin;
    right: 5vmin;

}
.textoGmail {
    margin: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.textoImg {
    margin: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.forma {
    margin: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-image: url("../img/cuadricula.png");
    background-size: cover;
}

.signIn {
    margin: 4px;
    margin-left: 20px;
    background-color: #1a508b;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}

/* Empezamos con el el div del logo de Google */

.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/googlelogo.png");
    width: 270px;
    height: 200px;
    background-repeat: no-repeat;
    top: 20vmin;
}

/* Input buscador google */

.buscador {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 50px;
    /* background-color: yellow; */
    /* border: 1px solid #cdcdcd; */
    border-radius: 1px 1px 1px 1px;
}

input:focus{
    outline: none;
    box-shadow: none;
}

#searchbar {
    position: absolute;
    width: 480px;
    height: 50px;
    border: 1px solid #cdcdcd;
    border-radius: 15px;
    text-align: center;
    box-shadow: 2px 2px 6px #888888;
    top: -15vmin;

}

.lupa {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/lupa.png");
    background-color: transparent;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    top: -13vmin;
    right: 2vmin;
}

/* Botón Google y botón "voy a tener suerte" */

.textoGoogle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    width: 54px;
    text-align: center;
    top: -8vmin;
    left: 10vmin;
}

#textoGoogle {
    position: absolute;
    border-radius: 4px;
    height: 38px;
    width: 170px;
    text-align: center;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    font-size: 14px;
    user-select: none;
    font-family: arial, sans-serif;
    background-color: #f8f9fa;

}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}

.textoSuerte {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    width: 54px;
    text-align: center;
    top: -8vmin;
    right: 8vmin;

}

#textoSuerte {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 38px;
    width: 170px;
    text-align: center;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    font-size: 14px;
    user-select: none;
    font-family: arial, sans-serif;
    background-color: #f8f9fa;

}

/* Acabamos con el div del footer */

.footerGoogle {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
    height: 50px;
    background-color: #f8f9fa;
    border: 1px solid #cdcdcd;
    bottom: 0vmin;
}


.textoIzquierda {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    bottom: 0vmin;
}


.textoAdver {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    left: 1vmin;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 8px;
    white-space: nowrap;

}

/* .textoAdver a:hover {
    text-decoration: underline;
} */

.textoBusi {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    left: 11vmin;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 8px;
    white-space: nowrap;

}

.textoAbout {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    left: 20vmin;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 8px;
    white-space: nowrap;

}

.textoDerecha {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    bottom: 0vmin;
}

.textoPriva {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    right: 23vmin;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 8px;
    white-space: nowrap;

}

.textoTerm {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    right: 14vmin;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 8px;
    white-space: nowrap;

}

.textoSett {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    right: 2vmin;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 8px;
    white-space: nowrap;

}