/* Centramos el div padre container */

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}

/* Posicionamos el header arriba a la derecha */

.header {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
    text-align: right;
    font-size: 13px;
    font-family: arial, sans-serif;
    color: black;
    padding: 10px;
    /* background-color: red; */
    top: 1vmin;
    right: 5vmin;

}
.textoGmail {
    margin: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.textoImg {
    margin: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.forma {
    margin: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-image: url(/img/cuadricula.png);
    background-size: cover;
}

.signIn {
    margin: 4px;
    margin-left: 20px;
    background-color: #1a508b;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}

/* Empezamos con el el div del logo de Google */

.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/googlelogo.png);
    width: 270px;
    height: 200px;
    background-repeat: no-repeat;
    top: 20vmin;
}

/* Input buscador google */

.buscador {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 50px;
    /* background-color: yellow; */
    /* border: 1px solid #cdcdcd; */
    border-radius: 1px 1px 1px 1px;
}

input:focus{
    outline: none;
    box-shadow: none;
}

#searchbar {
    position: absolute;
    width: 480px;
    height: 50px;
    border: 1px solid #cdcdcd;
    border-radius: 15px;
    text-align: center;
    box-shadow: 2px 2px 6px #888888;
    top: -15vmin;

}

.lupa {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/lupa.png);
    background-color: transparent;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    top: -13vmin;
    right: 2vmin;
}

